# See http://help.github.com/ignore-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
feedback_summary.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Angular
/dist
/tmp
/out-tsc
/bazel-out
node_modules/

# System Files
.DS_Store
Thumbs.db
